* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

nav {
		text-decoration: none;
		color: white;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: darkgrey;
	
}

.phone {
    position:relative;	
	top: 20px;
	margin-left: 2%;
}

.nav-1 {
	background-color: #f8f8f8;
	height: 50px;
	
}

.nav-1-links{
	display:flex;
	justify-content: flex-end;
	margin-right: 2%;
}

.nav-1-links a{
	margin-left: 2%;
}

.nav-1 form {
	margin-left: 2%;
}


.nav-2 {
	display:flex;
	justify-content: space-between;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 30px;
	height: 50px;
}
.nav-2 img {
	position: relative;
	bottom: 18px;
}

button {
	border: solid 2px white;
	color: white;
	background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	width: 160px;
	height: 50px;
	font-weight: bold;
	font-size: 1.2rem;
}

main {
	background-image: url("https://cdn.shopify.com/s/files/1/1634/8185/t/2/assets/slide2_image.jpg?v=53788676421797375341484148036");
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 30px;
	color: white;
	
}

header {
	display: block;
	text-align: center;
	margin-bottom: 50px;
	
}

.features {
	display: flex;
	justify-content: center;
}

.features div {
	margin-left: 60px;
	background-color: #2e86b4;
	padding: 40px;
	position: relative;
	top:40px;
}

.featured-products header {
	margin-top: 80px;
}


.products {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;	
}

.products div {
	width: 25%;
}




@media screen and (max-width: 1000px) {
	
	.phone {
		display: none;
	}
	
	.nav-1 {
		height: 100px;
	}
	
	.nav-1-links {
		
		justify-content: center;
		flex-wrap: wrap;		
	}

	
	.nav-2 a {
		display: none;
	}
	
	.nav-2 {
		justify-content: center;
	}
	
	.features {
		flex-wrap: wrap;
	}
	
	.features div:nth-child(3) {
		display:none;
	}
	
	.products div {
		margin: 20px;
	}
}	
	

@media screen and (max-width: 700px) {
	
	
	
	.products {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	
	
	
	.features div:nth-child(2) {
		display:none;
	}
	
	
	.features {
		justify-content: center; 
	}
	
	.features div {
		margin-left: 0;
	}
	
	
}
	
	
	
	
	
	
	
	

